:root {
  --black: #000000;
  --white: #ffffff;
  --font: Arial, Helvetica, sans-serif;
  --f-bold: bold;
}

body {
  background-color: var(--blue);
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
}
.navbar {
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid #000000;
  /* background-color: gray; */
}
.kalender {
  width: 100%;
  height: 100%;
  color: black;
  font-size: 24px;
  font-family: var(--font);
  font-weight: 1800;
  line-height: 28.8px;
  word-wrap: break-word;
  background-color: grey;
  padding: 10px;
  border: 1px solid #000000;
}
.genre {
  width: 100%;
  height: 100%;
  color: black;
  font-size: 24px;
  font-family: var(--font);
  font-weight: 1800;
  line-height: 28.8px;
  word-wrap: break-word;
  background-color: grey;
  padding: 10px;
  border: 1px solid #000000;
}
.billeder {
  width: 100%;
  height: 100%;
  color: black;
  font-size: 24px;
  font-family: var(--font);
  font-weight: 1800;
  line-height: 28.8px;
  word-wrap: break-word;
  background-color: grey;
  padding: 10px;
  border: 1px solid #000000;
}
.info {
  width: 100%;
  height: 100%;
  color: black;
  font-size: 24px;
  font-family: var(--font);
  font-weight: 1800;
  line-height: 28.8px;
  word-wrap: break-word;
  background-color: grey;
  padding: 10px;
  border: 1px solid #000000;
}
.kontakt {
  width: 100%;
  height: 100%;
  color: black;
  font-size: 24px;
  font-family: var(--font);
  font-weight: 1800;
  line-height: 28.8px;
  word-wrap: break-word;
  background-color: grey;
  padding: 10px;
  border: 1px solid #000000;
}
.sog {
  width: 100%;
  height: 100%;
  color: black;
  font-size: 24px;
  font-family: var(--font);
  font-weight: 1800;
  line-height: 28.8px;
  word-wrap: break-word;
  background-color: grey;
  padding: 10px;
  border: 1px solid #000000;
}

/* HEADER for MOBILE 375px wide*/
.headerlogo {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.logotext {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #c4d5ed;
  border: #000000 8px solid;
  border-radius: 5px;
  box-sizing: border-box;
  max-height: 255px;

  
}

.logolopp {
  font-size: 10rem;
  font-weight: 700;
  margin: 0;
  max-height: 50px;
}

.logochris {
  font-size: 24px;
  letter-spacing: 8px;
}

.logolopp h1 {
  font-size: 52px;
  font-weight: 1000;
  letter-spacing: 4px;
  line-height: 0.7;
  margin: 5px 0px 0px 0px;
  padding: 0;
}

.logoimg {
  display: flex;
  justify-content: center;
  width: 90px;
  height: 90px;
  border: #000000 8px solid;
  border-radius: 5px;
  margin-right: 10px;
  background-color: #c4d5ed;
}
