:root {
  --black: #000000;
  --white: #ffffff;
  --font: Arial, Helvetica, sans-serif;
  --f-bold: bold;
}

body {
  background-color: var(--blue);
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
}
.navbar {
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid #000000;
  background-color: gray;
}
.kalender {
  width: 100%;
  height: 100%;
  color: black;
  font-size: 24px;
  font-family: var(--font);
  font-weight: 1800;
  line-height: 28.8px;
  word-wrap: break-word;
  background-color: grey;
  padding: 10px;
  border: 1px solid #000000;
}
.genre {
  width: 100%;
  height: 100%;
  color: black;
  font-size: 24px;
  font-family: var(--font);
  font-weight: 1800;
  line-height: 28.8px;
  word-wrap: break-word;
  background-color: grey;
  padding: 10px;
  border: 1px solid #000000;
}
.billeder {
  width: 100%;
  height: 100%;
  color: black;
  font-size: 24px;
  font-family: var(--font);
  font-weight: 1800;
  line-height: 28.8px;
  word-wrap: break-word;
  background-color: grey;
  padding: 10px;
  border: 1px solid #000000;
}
.info {
  width: 100%;
  height: 100%;
  color: black;
  font-size: 24px;
  font-family: var(--font);
  font-weight: 1800;
  line-height: 28.8px;
  word-wrap: break-word;
  background-color: grey;
  padding: 10px;
  border: 1px solid #000000;
}
.kontakt {
  width: 100%;
  height: 100%;
  color: black;
  font-size: 24px;
  font-family: var(--font);
  font-weight: 1800;
  line-height: 28.8px;
  word-wrap: break-word;
  background-color: grey;
  padding: 10px;
  border: 1px solid #000000;
}
.sog {
  width: 100%;
  height: 100%;
  color: black;
  font-size: 24px;
  font-family: var(--font);
  font-weight: 1800;
  line-height: 28.8px;
  word-wrap: break-word;
  background-color: grey;
  padding: 10px;
  border: 1px solid #000000;
}
